.Service{
    margin-top : 80px;
    margin-bottom : 100px;
}

.ServiceContainer1{
    background-color: #FAEA73;
    width : 27%;
    height : 150px;
    padding-top : 3px;
    border-radius : 20px;
    padding-left : 30px;
    padding-right: 30px;
}

.ServiceContainer2{
    background-color: #CCEFF6;
    width : 27%;
    height : 150px;
    padding-top : 3px;
    border-radius : 20px;
    padding-left : 30px;
    padding-right: 30px;
}

.ServiceContainer3{
    background-color: #F7CEDC;
    width : 27%;
    height : 150px;
    padding-top : 3px;
    border-radius : 20px;
    padding-left : 30px;
    padding-right: 30px;
}