.FeedContainer{
    width: 80%;
    margin : 0 auto;
    margin-bottom : 70px;
}

.FeedContent{
    background-color: #FAEA73;
    border-radius: 10px;
    height: 500px;
    width : 100%;
    display: flex;
    gap : 100px;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    margin-bottom : 50px;
}